__pycache__


/cached_face_neighbors/amphora_decimated_neighbors.csv
/cached_face_neighbors/cup_decimated_neighbors.csv
/cached_face_neighbors/kitten_decimated_neighbors.csv
/cached_face_neighbors/skeleton_decimated_neighbors.csv

/cached_face_neighbors/ant_decimated_neighbors.csv
/cached_face_neighbors/dinosaur_decimated_neighbors.csv
/cached_face_neighbors/lucy_decimated_neighbors.csv
/cached_face_neighbors/skull_decimated_neighbors.csv

/cached_face_neighbors/armadillo_decimated_neighbors.csv
/cached_face_neighbors/dog_decimated_neighbors.csv
/cached_face_neighbors/maxplanck_decimated_neighbors.csv
/cached_face_neighbors/spider_decimated_neighbors.csv

/cached_face_neighbors/bimba_decimated_neighbors.csv
/cached_face_neighbors/fandisk_decimated_neighbors.csv
/cached_face_neighbors/octopus_decimated_neighbors.csv
/cached_face_neighbors/table_decimated_neighbors.csv

/cached_face_neighbors/bird_decimated_neighbors.csv
/cached_face_neighbors/fertilty_decimated_neighbors.csv
/cached_face_neighbors/plier_decimated_neighbors.csv
/cached_face_neighbors/teapot_decimated_neighbors.csv

/cached_face_neighbors/blade_decimated_neighbors.csv
/cached_face_neighbors/fish_decimated_neighbors.csv
/cached_face_neighbors/propeller_decimated_neighbors.csv
/cached_face_neighbors/teddy_decimated_neighbors.csv

/cached_face_neighbors/buddha_decimated_neighbors.csv
/cached_face_neighbors/gargoyle_decimated_neighbors.csv
/cached_face_neighbors/rabbit_decimated_neighbors.csv
/cached_face_neighbors/teeth_decimated_neighbors.csv

/cached_face_neighbors/bunny_decimated_neighbors.csv
/cached_face_neighbors/glass_decimated_neighbors.csv
/cached_face_neighbors/santa_decimated_neighbors.csv
/cached_face_neighbors/vase_decimated_neighbors.csv

/cached_face_neighbors/bust_decimated_neighbors.csv
/cached_face_neighbors/hand_decimated_neighbors.csv
/cached_face_neighbors/sappho_decimated_neighbors.csv
/cached_face_neighbors/wrench_decimated_neighbors.csv

/cached_face_neighbors/cactus_decimated_neighbors.csv
/cached_face_neighbors/horse_decimated_neighbors.csv
/cached_face_neighbors/screwdriver_decimated_neighbors.csv

/cached_face_neighbors/camel_decimated_neighbors.csv
/cached_face_neighbors/human_decimated_neighbors.csv
/cached_face_neighbors/shape_decimated_neighbors.csv

/cached_face_neighbors/chair_decimated_neighbors.csv
/cached_face_neighbors/igea_decimated_neighbors.csv
/cached_face_neighbors/shell_decimated_neighbors.csv
