__pycache__

/cached_face_neighbors/camel_decimated_neighbors.csv
/cached_face_neighbors/human_decimated_neighbors.csv
/cached_face_neighbors/shape_decimated_neighbors.csv

/cached_face_neighbors/chair_decimated_neighbors.csv
/cached_face_neighbors/igea_decimated_neighbors.csv
/cached_face_neighbors/shell_decimated_neighbors.csv
