__pycache__


/cached_face_neighbors/bunny_decimated_neighbors.csv
/cached_face_neighbors/glass_decimated_neighbors.csv
/cached_face_neighbors/santa_decimated_neighbors.csv
/cached_face_neighbors/vase_decimated_neighbors.csv

/cached_face_neighbors/bust_decimated_neighbors.csv
/cached_face_neighbors/hand_decimated_neighbors.csv
/cached_face_neighbors/sappho_decimated_neighbors.csv
/cached_face_neighbors/wrench_decimated_neighbors.csv

/cached_face_neighbors/cactus_decimated_neighbors.csv
/cached_face_neighbors/horse_decimated_neighbors.csv
/cached_face_neighbors/screwdriver_decimated_neighbors.csv

/cached_face_neighbors/camel_decimated_neighbors.csv
/cached_face_neighbors/human_decimated_neighbors.csv
/cached_face_neighbors/shape_decimated_neighbors.csv

/cached_face_neighbors/chair_decimated_neighbors.csv
/cached_face_neighbors/igea_decimated_neighbors.csv
/cached_face_neighbors/shell_decimated_neighbors.csv
